<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= user %> <small>님의 방명록에 오신것을 환영합니다.</small></h2>
    <a href="/list">방명록</a>
  </body>
</html>
